{erl_opts, [
    {i, "apps/templet/include"},
    {i, "./_build/default/lib/gpb"},
    {parse_transform, lager_transform}
]}.

{deps, [
    {mysql, {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {branch, "master"}}},
    {redis, {git, "https://github.com/wooga/eredis.git", {branch, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.1"}}},
    {emqttc, {git, "https://github.com/emqtt/emqttc.git", {branch, "master"}}},
    {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.6.0"}}},
    {websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {branch, "master"}}},
    {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {fs, {git, "https://github.com/synrc/fs.git", {tag, "4.10"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.9"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}},
    {amqp_client, "3.7.14"},
    {rebar3, {git, "https://github.com/erlang/rebar3.git", {tag, "3.9.1"}}},
    {poolboy, "1.5.1"}
    ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [test]}
]}.

{gpb_opts, [
    {i, "proto"},                         % path/to/proto_dir
    {o_erl, "apps/templet/src/proto/"},   % Where the generated source is placed
    {o_hrl, "apps/templet/include"},      % Where the generated include files are placed
    {strings_as_binaries, true},
    {verify, always},
    type_specs
]}.

{pre_hooks, [
%%    {compile, "mkdir -p include"}, %% ensure the include dir exists
    {compile,
        "echo ${EXEC_GPB} | grep true && "
        "_build/default/lib/gpb/bin/protoc-erl -I`pwd`/proto "
        "-o-erl `pwd`/apps/templet/src/proto/ -o-hrl apps/templet/include "
        "-strbin -descr -il `pwd`/proto/all_pb.proto"
        " || echo not_generate_proto"
    }
]}.