{erl_opts, [
    {parse_transform, lager_transform},
    {i, "apps/templet/include"}
]}.

{deps, [
    {mysql, {git, "https://github.com/dizzyd/erlang-mysql-driver.git", {branch, "master"}}},
    {redis, {git, "https://github.com/wooga/eredis.git", {branch, "master"}}},
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.3.0"}}},
    {emqttc, {git, "https://github.com/emqtt/emqttc.git", {branch, "master"}}},
    {gpb, {git, "https://github.com/tomas-abrahamsson/gpb.git", {tag, "4.6.0"}}},
    {websocket_client, {git, "https://github.com/jeremyong/websocket_client.git", {branch, "master"}}},
    {sync, {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {fs, {git, "https://github.com/synrc/fs.git", {tag, "4.10"}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.8"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.9.0"}}},
    {amqp_client, "3.7.12"},
    {rebar3, {git, "https://github.com/erlang/rebar3.git", {tag, "3.6.2"}}},
    {poolboy, "1.5.1"}
    ]}.

{shell, [
  % {config, [{config, "config/sys.config"}]},
    {apps, [test]}
]}.
